<div class="reward-box-card <%= name %>">
  <img class="reward-image" src="<%= options.image %>" />
  <% if (options.url) { %>
  <a class="reward-image-url" href="<%= options.url %>"><%= options.url_name || options.url %></a>
  <% } %>
</div>
