.site-brand-wrapper {
  position: relative;
}
.site-meta {
  margin: 0;
  text-align: $site-meta-text-align;
  padding: 20px 0;
  color: white;
  background: #48505b;

  +mobile() { text-align: center; }
}

.brand {
  position: relative;
  display: inline-block;
  padding: 0;
  color: $brand-color;
  background: none;
  border-bottom: none;

  &:hover {
   color: white;
  }
}

.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: $logo-font-size;
  font-weight: normal;
  font-family: var(--font-family);
  color: white;
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
  color: $subtitle-color;
  text-align: center;
}

.custom-logo-image {
  margin-top: 20px;
  +tablet-mobile() {
    hide();
  }
}
