.site-nav-toggle {
  hide();
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  +tablet-mobile() {
    show();
  }

  button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
  }
}

.site-nav {
  +tablet-mobile() {
    hide();
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
  }
  +desktop() { display: block !important; }
}

.site-nav-on {
   display: block;
}


.btn-bar {
  show();
  width: 22px;
  height: 2px;
  background-color: white;
  border-radius: 1px;

  &+.btn-bar { margin-top: 4px; }
}
