::selection {
  background: $selection-bg;
  color: $selection-color;
}

html, body { height: 100%; }

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  position: relative; // Required by scrollspy
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background: $body-bg-color;

  +tablet-mobile() { padding-right: 0 !important; }
}

main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: $font-family-headings;
}

p {
  text-align: left;
}

ul, ol {
  padding-left: 20px;
}

a {
  word-wrap();
  // Remove the gray background color from active links in IE 10.
  background-color: transparent;
  color: $link-color;
  text-decoration: none;
  outline: none;
  border-bottom: 1px dashed $link-decoration-color;

  &:hover {
    color: $link-hover-color;
    border-bottom-color: $link-decoration-hover-color;
  }

  // For spanned external links.
  cursor: pointer;
}

a.un-decoration {
  border-bottom: 0;
}

video {
  max-width: 100%;
  show();
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  background-color: $gray-lighter;
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 4px,
    transparent 4px,
    transparent 8px
  );
}

blockquote {
  margin: 0;
  padding: 0 15px;
  color: $grey-dim;
  border-left: 4px solid $gray-lighter;

  cite::before {
    content: "-";
    padding: 0 5px;
  }
}

dt { font-weight: $font-weight-bolder; }

dd {
  margin: 0;
  padding: 0;
}

kbd {
  border: 1px solid $grey-light;
  border-radius: 0.2em;
  background-color: #f9f9f9;
  font-family: inherit;
  background-image: linear-gradient(top, #eee, white, #eee);
  padding: 0.1em 0.3em;
  white-space: nowrap;
}

// Scaffolding
@import "scaffolding";
// Layout
@import "outline";
// Components
@import "components";
