//
// Layout
// Note: Must name this file "outline" instead of "layout"
//       Or Hexo will use it as template layout.
// =================================================


.container {
  position: relative;
}


// Header Section
// --------------------------------------------------
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
  +desktop-largest() {
    .container & { width: $content-desktop-largest; }
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container > aside {
  width: $sidebar-desktop;
  margin: 0 10px;
}

.flex-container > .flex-main {
  width: $content-desktop;
  +desktop-large() {
    width: $content-desktop-large;
  }
  +desktop-largest() {
    width: $content-desktop-largest;
  }
  +tablet-mobile() {
    width: 100%;
  }
}

+tablet-mobile() {
  .flex-container > aside {
    display: none;
  }
  .flex-container {
    padding: 10px;
  }
}

.footer {
  padding: 20px 0;
}
