// Post & Comments blocks.
.post-block {
  background: white;
  border-radius: $border-radius-inner;
  margin-top: 10px;
}

// When blocks are siblings (homepage).
#posts > article + article {
  .post-block {
    margin-top: $sidebar-offset;
    border-radius: $border-radius;
  }
}

+tablet() {
  .post-block {
    border-radius: $border-radius;
  }

  // Only if blocks are siblings need bottom margin (homepage).
  #posts > article + article {
    .post-block {
      margin-top: $content-tablet-padding;
    }
  }
}

+mobile() {
  .post-block {
    min-height: auto;
    border-radius: $border-radius;
  }

  // Only if blocks are siblings need bottom margin (homepage).
  #posts > article + article {
    .post-block {
      margin-top: $content-mobile-padding;
    }
  }
}
