.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid $gainsboro;
}

.post-nav-item {
  display: block;
  padding: 2px 5px;
  white-space: nowrap;
  max-width: 50%;
}
