.post-body {
  word-wrap();
  font-family: var(--font-family);
}

// .post-body span.exturl {
//   .fa {
//     font-size: 14px;
//     margin-left: 4px;
//   }
// }

.post-body .figure .caption {
  margin: -20px auto 15px;
  text-align: center;
  font-size: var(--font-size);
  color: $grey-dark;
  font-weight: bold;
  line-height: 1;
}

@import "post-banner";
@import "post-body";
@import "post-block";
@import "post-expand";
@import "post-collapse";
@import "post-title";
@import "post-meta";
@import "post-tags";
@import "post-nav";
@import "post-reward" if hexo-config('reward_settings.enable');
@import "post-copyright" if hexo-config('creative_commons.post');
