<% if (!is_home() && page.menu) { %>
<div class="card">
  <ul class="post-menu">
    <% Object.keys(page.menu).forEach(subname => { %>
    <%
    let subvalue = page.menu[subname];
    let itemURL = subvalue.split('||')[0].trim()
    if (itemURL.indexOf('http') !== 0) {
      itemURL = itemURL.replace(/\/\//g, '/');
    }
    let menuIcon = params => {
      let iconName = params.split('||')[1].trim() || 'fas fa-question-circle';
      return icon(iconName);
    }
    let post_menu_icon = menuIcon(subvalue);
    %>
    <li>
      <a href="<%= url_for(itemURL) %>"><%- post_menu_icon + subname -%></a>
    </li>
    <% }) %>
  </ul>
</div>
<% } %>
