<%
let readMoreHref = url_for(post.path);
if (theme.scroll.more) {
  readMoreHref += '#more';
}
%>
<div class="read-more-btn">
  <a href="<%= readMoreHref %>" rel="contents">
    <%= __('post.read_more') %> &raquo;
  </a>
</div>
