.btn {
  display: inline-block;
  padding: 0 1em;
  font-size: 1em;
  color: var(--color);
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  text-decoration: none;
  border-radius: 0.2em;
  transition-property: background-color;
  the-transition();
  line-height: 2;

  &:hover {
    border-color: var(--border-color-hover);
    color: var(--color-hover);
    background: var(--bg-color-hover);
  }

  .fa-fw {
    width: 1.25em;
    text-align: left;
  }
}
