// Blockquote with all children centered.
.center-quote {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;

  &::before, &::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 0 -6px;
    background-size: 22px 22px;
  }
  &::before {
    top: -20px;
    background-image: url('../images/quote-l.svg');
    border-top: 1px solid var(--border-color);
  }
  &::after {
    bottom: -20px;
    background-image: url('../images/quote-r.svg');
    border-bottom: 1px solid var(--border-color);
    background-position: 100% 8px;
  }

  p, div {
    text-align: center;
  }
}
