code {
  font-family: var(--font-family);
  background: var(--bg-color);
  border-radius: 0.2em;
  margin: auto 0.2em;
  padding: 0.2em 0.3em 0.1em;
}

pre>code {
  background: inherit;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

code, td.gutter {
  font-size: 0.95em;
}

figure.highlight  {
  margin: 0.5em 0;
  padding: 0;

  .table-container, table, tr {
    border-radius: 0.5em;
  }

  td {
    margin: 0;
    padding: 0;
    border: 0;
  }

  pre {
    margin: 0;
  }

  .gutter {
    width: 1.8em;

    pre {
      width: 1.8em;
      text-align: right;
      overflow-x: hidden;
      padding: 0.5em 5px 0.5em 0;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .code {
    pre {
      padding: 0;
    }

    code {
      padding: 0.5em 0 0.5em 0.5em;
    }

    pre,code {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}
