figure.highlight  {
  margin: 0.5rem 0;
  padding: 0;
}

.highlight td {
  padding: 0;
  border: 0;
}

.highlight pre {
  padding: 0 0 0 5px;
  margin: 0;
  border-radius: 0;
}

.highlight .gutter pre, .gutter {
  width: 1rem;
}

.highlight code {
  padding: 0;
  border-radius: 0;
}

.highlight td.code pre code {
  padding-left: 5px;
}
