// Helpers

// text
.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }
.text-nowrap  { white-space: nowrap; }
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

// img
img.center {
  display: block;
  margin: 14px auto;
}
img.box {
  display: block;
  margin: 14px auto;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #ddd;
}
