.post-body .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid $gainsboro;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: var(--color);

  header {
    color: var(--color);
    margin-top: 3px;
    margin-bottom: 0;
    border-bottom: initial;
    padding-top: 0 !important;
    font-size: 1.2em;
    line-height: 1.2rem;
    font-weight: bold;
  }

  p, ul, ol, table, pre, blockquote {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &:not(.no-icon) {
    padding-left: 45px;
  }

  svg {
    color: var(--color);
    position: absolute;
    font-size: larger;
    top: 1.2em;
    left: 1em;
  }
}
