.table-container {
  margin: 20px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.highlight .table-container,.gist .table-container {
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

table > tbody > tr {
  &:nth-of-type(odd) { background-color: var(--row-odd-bg-color); }
  &:hover { background-color: var(--row-hover-bg-color); }
}

caption, th, td {
  padding: 5px 8px;
  vertical-align: middle;
}

th, td {
  border: 1px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
}

th {
  font-weight: bold;
  white-space: nowrap;
}

td {
  border-bottom-width: 1px;
  white-space: pre;
}
