.post-title {
  word-wrap();
  font-weight: blod;
  font-size: 1.7em;
  line-height: 1.7;
  padding: 20px 20px 10px;
  margin: 0;
}

.post-title a {
  display: inline-block;
  position: relative;
  color: var(--color);
  border-bottom: none;
  line-height: inherit;
  vertical-align: top;
}
