<div class="card post-block category">
  <div class="post-collapse">
    <div class="collection-title">
      <h1><%= page.category %><small><%= __('title.category') %></small></h1>
    </div>
    <% page.posts.forEach((post) => { %>
    <%- partial('_partials/post-collapse.ejs', {post}) -%>
    <% }) %>
  </div>
</div>

<%- partial( '_partials/pagination.ejs') -%>
