<div class="card post-block tag">
  <div class="post-collapse">
    <div class="collection-title">
      <h1><%= page.tag %><small><%= __('title.tag') %></small></h1>
    </div>
    <% page.posts.forEach((post) => { %>
    <%- partial('_partials/post-collapse.ejs', {post}) -%>
    <% }) %>
  </div>
</div>

<%- partial( '_partials/pagination.ejs') -%>
