.post-body .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid $gainsboro;
  border-left-width: 5px;
  border-radius: 3px;

  header {
    margin-top: 3px;
    margin-bottom: 0;
    border-bottom: initial;
    padding-top: 0 !important;
    font-size: 1.2em;
    line-height: 1.2rem;
    font-weight: bold;
  }

  p, ul, ol, table, pre, blockquote {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &:not(.no-icon) {
    padding-left: 45px;
    &:before {
      position: absolute;
      font-family: $font-family-icons;
      font-size: larger;
      top: 13px;
      left: 15px;
    }
  }

  &.default {
    border-left-color: $note-default-border;
    header, &:before {
      color: $note-default-text;
    }
    &:not(.no-icon) {
      &:before {
        content: $note-default-icon;
      }
    }
  }

  &.primary {
    border-left-color: $note-primary-border;
    header, &:before {
      color: $note-primary-text;
    }
    &:not(.no-icon) {
      &:before {
        content: $note-primary-icon;
      }
    }
  }

  &.info {
    border-left-color: $note-info-border;
    header, &:before {
      color: $note-info-text;
    }
    &:not(.no-icon) {
      &:before {
        content: $note-info-icon;
      }
    }
  }

  &.success {
    border-left-color:   $note-success-border;
    header, &:before {
      color:             $note-success-text;
    }
    &:not(.no-icon) {
      &:before {
        content:         $note-success-icon;
      }
    }
  }

  &.warning {
    border-left-color:   $note-warning-border;
    header, &:before {
      color:             $note-warning-text;
    }
    &:not(.no-icon) {
      &:before {
        content:         $note-warning-icon;
      }
    }
  }

  &.danger {
    border-left-color:   $note-danger-border;
    header, &:before {
      color:             $note-danger-text;
    }
    &:not(.no-icon) {
      &:before {
        content:         $note-danger-icon;
      }
    }
  }
}
