//
// Variables
// =================================================


// Colors
// colors for use across theme.
// --------------------------------------------------
$whitesmoke   = #f5f5f5
$gainsboro    = #eee
$gray-lighter = #ddd
$grey-light   = #ccc
$grey         = #bbb
$grey-dark    = #999
$grey-dim     = #666
$black-light  = #555
$black-dim    = #333
$black-deep   = #222
$red          = #ff2a2a
$blue-bright  = #87daff
$blue         = #0684bd
$blue-deep    = #262a30
$orange       = #fc6423


$color-12 = #48505b
$color-11 = #59606a
$color-10 = #697079
$color-9 = #7a8088
$color-8 = #8b9097
$color-7 = #9ba0a6
$color-6 = #acafb4
$color-5 = #bcbfc3
$color-4 = #cdcfd2
$color-3 = #dedfe1
$color-2 = #eeeff0
$color-1 = #ffffff

// Scaffolding
// Settings for some of the most global styles.
// --------------------------------------------------
// Global text color on <body>
$text-color                   = $color-11

// Global border color.
$border-color                 = $grey-light

// Background color for <body>
$body-bg-color                = $color-2

// Selection
$selection-bg                 = $blue-deep
$selection-color              = white

// Font families.
$font-family-import       = 'https://fonts.googleapis.com/css?family=Inconsolata|Itim|Lobster'
$font-family-chinese      = 'PingFang SC', 'Microsoft YaHei'
$font-family-base         = 'Itim', $font-family-chinese, sans-serif
$font-family-headings     = $font-family-base
$font-family-posts        = $font-family-base
$font-family-icons        = 'FontAwesome'

// Font Weight
$font-weight-lighter      = 200
$font-weight-light        = 300
$font-weight-normal       = 400
$font-weight-bold         = 600
$font-weight-bolder       = 700

// Font size
$font-size-base = 14px

// Global line height
$line-height-base           = 1.8
$line-height-code-block     = 1.6  // Can't be less than 1.3


// Z-index master list
// --------------------------------------------------
$zindex-bottom  = -1
$zindex-1       = 1010
$zindex-2       = 1020
$zindex-3       = 1030
$zindex-4       = 1040
$zindex-5       = 1050


// Table
// --------------------------------------------------
$table-width                    = 100%
$table-border-color             = $gray-lighter
$table-font-size                = 14px
$table-content-alignment        = left
$table-content-vertical         = middle
$table-th-font-weight           = 700
$table-cell-padding             = 8px
$table-cell-border-right-color  = $gainsboro
$table-cell-border-bottom-color = $gray-lighter
$table-row-odd-bg-color         = #f9f9f9
$table-row-hover-bg-color       = $whitesmoke


// Code & Code Blocks
// --------------------------------------------------
$code-font-family               = 'Inconsolata', consolas, $font-family-chinese, monospace
$code-font-size                 = 95%
$code-border-radius             = 3px
$code-foreground                = $black-light
$code-background                = $gainsboro


// Buttons
// --------------------------------------------------
$btn-font-weight                = normal

$btn-default-radius             = 2px
$btn-default-bg                 = white
$btn-default-color              = $text-color
$btn-default-font-size          = 14px
$btn-default-border-width       = 2px
$btn-default-border-color       = $text-color
$btn-default-hover-bg           = $black-deep
$btn-default-hover-color        = white
$btn-default-hover-border-color = $black-deep


// Pagination
// --------------------------------------------------
$pagination-border              = $gainsboro

$pagination-link-bg             = transparent
$pagination-link-color          = $link-color
$pagination-link-border         = $gainsboro

$pagination-link-hover-bg       = transparent
$pagination-link-hover-color    = $link-color
$pagination-link-hover-border   = $black-deep

$pagination-active-bg           = $grey-light
$pagination-active-color        = white
$pagination-active-border       = $grey-light


// Layout sizes
// --------------------------------------------------
$content-desktop                = 800px
$content-desktop-large          = 960px
$content-desktop-largest        = 1024px

$content-desktop-padding        = 40px
$content-tablet-padding         = 10px
$content-mobile-padding         = 8px


// Headband
// --------------------------------------------------
$headband-height                = 3px
$headband-bg                    = $gainsboro


// Section Header
// Variables for header section elements.
// --------------------------------------------------
$head-bg                        = transparent

// Site Meta
$site-meta-text-align           = center
$brand-color                    = white
$brand-hover-color              = white
$brand-bg                       = $black-deep

//logo
$logo-font-size=24px
$logo-font-family='Lobster', $font-family-base

$site-subtitle-color            = $grey-dark
$subtitle-font-size             = 13px
$subtitle-color                 = $gray-lighter

// Menu
$menu-link-border               = transparent
$menu-link-hover-border         = $black-deep


// Posts Expand
// --------------------------------------------------
$posts-expand-title-font-weight = blod


// Posts Collpase
// --------------------------------------------------
$posts-collapse-left            = 55px
$posts-collapse-left-mobile     = 5px


// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$sidebar-offset                       = 12px
$sidebar-nav-color                    = $black-light
$sidebar-nav-hover-color              = $orange
$sidebar-highlight                    = $orange

$site-author-image-padding            = 2px
$site-author-image-width              = 120px
$site-author-image-height             = auto
$site-author-image-border-width       = 1px
$site-author-image-border-color       = $gainsboro

$site-author-name-margin              = 0
$site-author-name-color               = $black-deep
$site-author-name-align               = center
$site-author-name-weight              = $font-weight-bold

$site-description-font-size           = 13px
$site-description-color               = $grey-dark
$site-description-margin-top          = 0
$site-description-align               = center

$site-state-align                     = center
$site-state-item-count-font-size      = 16px
$site-state-item-count-color          = inherit
$site-state-item-name-font-size       = 13px
$site-state-item-name-color           = $grey-dark
$site-state-item-border-color         = $gainsboro

$toc-link-color                       = $grey-dim
$toc-link-border-color                = $grey-light
$toc-link-hover-color                 = black
$toc-link-hover-border-color          = black
$toc-link-active-color                = $sidebar-highlight
$toc-link-active-border-color         = $sidebar-highlight
$toc-link-active-current-color        = $sidebar-highlight
$toc-link-active-current-border-color = $sidebar-highlight

// Components
// --------------------------------------------------
// Back to top
$b2t-opacity                  = .6
$b2t-opacity-hover            = 0.8
$b2t-position-bottom          = -100px
$b2t-position-bottom-on       = 30px
$b2t-position-right           = 30px
$b2t-position-right-mobile    = 20px
$b2t-font-size                = 12px
$b2t-color                    = white
$b2t-bg-color                 = $black-deep
$b2t-sidebar-bg-color         = $body-bg-color

//  .post-expand .post-eof
//  In Muse scheme, margin above and below the post separator
$post-eof-margin-top          = 80px  //  or 160px for more white space
$post-eof-margin-bottom       = 60px  //  or 120px for less white space


// Iconography
// Icons SVG Base64
// --------------------------------------------------
// blockquote-center icon
$center-quote-left            = '../images/quote-l.svg'
$center-quote-right           = '../images/quote-r.svg'

// Default
$note-default-border        = #777
$note-default-bg            = lighten(spin($note-default-border, 0), 94%)
$note-default-text          = $note-default-border
$note-default-icon          = "\f0a9"

$note-modern-default-border = #e1e1e1
$note-modern-default-bg     = lighten(spin($note-modern-default-border, 10), 60%)
$note-modern-default-text   = $grey-dim
$note-modern-default-hover  = darken(spin($note-modern-default-text, -10), 32%)

// Primary
$note-primary-border        = #6f42c1
$note-primary-bg            = lighten(spin($note-primary-border, 10), 92%)
$note-primary-text          = $note-primary-border
$note-primary-icon          = "\f055"

$note-modern-primary-border = #e1c2ff
$note-modern-primary-bg     = lighten(spin($note-modern-primary-border, 10), 40%)
$note-modern-primary-text   = #6f42c1
$note-modern-primary-hover  = darken(spin($note-modern-primary-text, -10), 22%)

// Info
$note-info-border           = #428bca
$note-info-bg               = lighten(spin($note-info-border, -10), 91%)
$note-info-text             = $note-info-border
$note-info-icon             = "\f05a"

$note-modern-info-border    = #b3e5ef
$note-modern-info-bg        = lighten(spin($note-modern-info-border, 10), 50%)
$note-modern-info-text      = #31708f
$note-modern-info-hover     = darken(spin($note-modern-info-text, -10), 32%)

// Success
$note-success-border        = #5cb85c
$note-success-bg            = lighten(spin($note-success-border, 10), 90%)
$note-success-text          = $note-success-border
$note-success-icon          = "\f058"

$note-modern-success-border = #d0e6be
$note-modern-success-bg     = lighten(spin($note-modern-success-border, 10), 40%)
$note-modern-success-text   = #3c763d
$note-modern-success-hover  = darken(spin($note-modern-success-text, -10), 27%)

// Warning
$note-warning-border        = #f0ad4e
$note-warning-bg            = lighten(spin($note-warning-border, 10), 88%)
$note-warning-text          = $note-warning-border
$note-warning-icon          = "\f06a"

$note-modern-warning-border = #fae4cd
$note-modern-warning-bg     = lighten(spin($note-modern-warning-border, 10), 43%)
$note-modern-warning-text   = #8a6d3b
$note-modern-warning-hover  = darken(spin($note-modern-warning-text, -10), 18%)

// Danger
$note-danger-border         = #d9534f
$note-danger-bg             = lighten(spin($note-danger-border, -10), 92%)
$note-danger-text           = $note-danger-border
$note-danger-icon           = "\f056"

$note-modern-danger-border  = #ebcdd2
$note-modern-danger-bg      = lighten(spin($note-modern-danger-border, 10), 35%)
$note-modern-danger-text    = #a94442
$note-modern-danger-hover   = darken(spin($note-modern-danger-text, -10), 22%)


// Label colors
// --------------------------------------------------
$label-default              = lighten(spin($note-default-border, 0), 89%)
$label-primary              = lighten(spin($note-primary-border, 10), 87%)
$label-info                 = lighten(spin($note-info-border, -10), 86%)
$label-success              = lighten(spin($note-success-border, 10), 85%)
$label-warning              = lighten(spin($note-warning-border, 10), 83%)
$label-danger               = lighten(spin($note-danger-border, -10), 87%)

// Sidebar
$sidebar-width                = hexo-config('sidebar.width') is a 'unit' ? hexo-config('sidebar.width') : 240
$sidebar-desktop              = unit($sidebar-width, 'px')
$content-wrap                 = 'calc(100% - %s)' % unit($sidebar-width + $sidebar-offset, 'px')

// Borders
// --------------------------------------------------
$border-radius-inner              = .5rem
$border-radius                    = .5rem

@import "link.styl";
@import "post.styl";