:root {
  --color: #59606a;
  --link-color: #252525;
  --link-color-hover: #7a8088;
  --bg-color: #eeeff0;
  --description-color: #999;
  --border-color: #eee;
  --selection-bg: #262a30;
  --selection-color: white;
  --font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
  --font-size: 14px;
  --radius: 0.5em;
}

pre, code {
  --font-family: 'Inconsolata', 'consolas', 'PingFang SC', 'Microsoft YaHei', 'monospace';
}

.sidebar {
  --link-color: #555;
  --link-color-hover: #222;
}

.sidebar-nav {
  --link-color-hover: #fc6423;
}

.site-title {
  --font-family: 'Lobster', 'Itim', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
}

.site-author-name {
  --color: #222;
}

.center-quote {
  --border-color: #ccc;
}

.social-links {
  --bg-color: #eee;
}

// Colors
// colors for use across theme.
// --------------------------------------------------
$whitesmoke   = #f5f5f5
$gray-lighter = #ddd
$grey-light   = #ccc
$grey         = #bbb
$grey-dim     = #666
$black-dim    = #333
$red          = #ff2a2a
$blue-bright  = #87daff
$blue         = #0684bd
$blue-deep    = #262a30
$orange       = #fc6423


$color-12 = #48505b
$color-11 = #59606a
$color-10 = #697079
$color-9 = #7a8088
$color-8 = #8b9097
$color-7 = #9ba0a6
$color-6 = #acafb4
$color-5 = #bcbfc3
$color-4 = #cdcfd2
$color-3 = #dedfe1
$color-2 = #eeeff0
$color-1 = #ffffff

// Scaffolding
// Settings for some of the most global styles.
// --------------------------------------------------
// Global text color on <body>
$text-color                   = $color-11

// Global border color.
$border-color                 = $grey-light

// Background color for <body>
$body-bg-color                = $color-2

// Font Weight
$font-weight-lighter      = 200
$font-weight-light        = 300
$font-weight-normal       = 400
$font-weight-bold         = 600
$font-weight-bolder       = 700

// Z-index master list
// --------------------------------------------------
$zindex-bottom  = -1
$zindex-1       = 1010
$zindex-2       = 1020
$zindex-3       = 1030
$zindex-4       = 1040
$zindex-5       = 1050


// Table
// --------------------------------------------------
$table-width                    = 100%
$table-border-color             = $gray-lighter
$table-font-size                = 14px
$table-content-alignment        = left
$table-content-vertical         = middle
$table-th-font-weight           = 700
$table-cell-padding             = 8px
$table-cell-border-right-color  = #eee
$table-cell-border-bottom-color = $gray-lighter
$table-row-odd-bg-color         = #f9f9f9
$table-row-hover-bg-color       = $whitesmoke


// Code & Code Blocks
// --------------------------------------------------
$code-font-size                 = 95%
$code-border-radius             = 3px
$code-foreground                = #555
$code-background                = #eee


// Buttons
// --------------------------------------------------
$btn-font-weight                = normal

$btn-default-radius             = 2px
$btn-default-bg                 = white
$btn-default-color              = $text-color
$btn-default-font-size          = 14px
$btn-default-border-width       = 2px
$btn-default-border-color       = $text-color
$btn-default-hover-bg           = #222
$btn-default-hover-color        = white
$btn-default-hover-border-color = #222


// Pagination
// --------------------------------------------------
$pagination-border              = #eee

$pagination-link-bg             = transparent
$pagination-link-color          = $link-color
$pagination-link-border         = #eee

$pagination-link-hover-bg       = transparent
$pagination-link-hover-color    = $link-color
$pagination-link-hover-border   = #222

$pagination-active-bg           = $grey-light
$pagination-active-color        = white
$pagination-active-border       = $grey-light


// Layout sizes
// --------------------------------------------------
$content-desktop                = 560px
$content-desktop-large          = 680px
$content-desktop-largest        = 800px

$content-desktop-padding        = 40px
$content-tablet-padding         = 10px
$content-mobile-padding         = 8px


// Headband
// --------------------------------------------------
$headband-height                = 3px
$headband-bg                    = #eee


// Section Header
// Variables for header section elements.
// --------------------------------------------------
$head-bg                        = transparent

// Site Meta
$site-meta-text-align           = center
$brand-color                    = white
$brand-hover-color              = white
$brand-bg                       = #222

//logo
$logo-font-size=24px

$site-subtitle-color            = #999
$subtitle-font-size             = 13px
$subtitle-color                 = $gray-lighter

// Menu
$menu-link-border               = transparent
$menu-link-hover-border         = #222


// Posts Expand
// --------------------------------------------------
$posts-expand-title-font-weight = blod


// Posts Collpase
// --------------------------------------------------
$posts-collapse-left            = 55px
$posts-collapse-left-mobile     = 5px


// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$sidebar-width = 240px
$sidebar-offset = 12px
$sidebar-pin-top = 10px
$sidebar-direction = row  // or row-reverse
$sidebar-nav-color                    = #555
$sidebar-nav-hover-color              = $orange
$sidebar-highlight                    = $orange

$toc-link-color                       = $grey-dim
$toc-link-border-color                = $grey-light
$toc-link-hover-color                 = black
$toc-link-hover-border-color          = black
$toc-link-active-color                = $sidebar-highlight
$toc-link-active-border-color         = $sidebar-highlight
$toc-link-active-current-color        = $sidebar-highlight
$toc-link-active-current-border-color = $sidebar-highlight

// Components
// --------------------------------------------------
// Back to top
$b2t-opacity                  = .6
$b2t-opacity-hover            = 0.8
$b2t-position-bottom          = -100px
$b2t-position-bottom-on       = 30px
$b2t-position-right           = 30px
$b2t-position-right-mobile    = 20px
$b2t-font-size                = 12px
$b2t-color                    = white
$b2t-bg-color                 = #222
$b2t-sidebar-bg-color         = $body-bg-color

//  .post-expand .post-eof
//  In Muse scheme, margin above and below the post separator
$post-eof-margin-top          = 80px  //  or 160px for more white space
$post-eof-margin-bottom       = 60px  //  or 120px for less white space

@import "post";
@import "note";
