:root {
  --color: #59606a;
  --link-color: #252525;
  --link-color-hover: #7a8088;
  --bg-color: #eeeff0;
  --description-color: #999;
  --border-color: #eee;
  --selection-bg: #262a30;
  --selection-color: white;
  --font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
  --font-size: 14px;
  --radius: 0.5em;
  --post-body-sizes-small: 560px;
  --post-body-sizes-normal: 680px;
  --post-body-sizes-large: 800px;
}

pre, code {
  --font-family: 'Inconsolata', 'consolas', 'PingFang SC', 'Microsoft YaHei', 'monospace';
}

table {
  --border-color: #ddd;
  --row-odd-bg-color: #f9f9f9;
  --row-hover-bg-color: #f5f5f5;
}

.sidebar {
  --link-color: #555;
  --link-color-hover: #222;
}

.post-toc {
  --link-color: #666;
}

.post-toc .nav .active > a {
  --color: #fc6423;
}

.sidebar-nav {
  --link-color-hover: #fc6423;
}

.site-title {
  --font-family: 'Lobster', 'Itim', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
}

.site-author-name {
  --color: #222;
}

.center-quote {
  --border-color: #ccc;
}

.social-links {
  --bg-color: #eee;
}

.pagination {
  --bg-color: #fff;
  --bg-color-active: #ccc;
  --color-active: #fff;
}

.comments {
  --bg-color: #fff;
}

.btn {
  --bg-color: #fff;
  --border-color: #59606a;
  --color-hover: #fff;
  --bg-color-hover: #222;
  --border-color-hover: #222;
}

.menu {
  --bg-color-hover: #f9f9f9;
}

.header-inner {
  --bg-color: #fff;
}

.site-meta {
  --color: #fff;
  --bg-color: #48505b;
  --description-color: #ddd;
}

.btn-bar {
  --bg-color: #fff;
}

.card {
  --bg-color: #fff;
}

.post-menu {
  --link-color: #555;
  --link-color-hover: #fc6423;
}

@import "post";
@import "note";
