:root {
  --font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
  --font-size: 14px;
  --radius: 0.5em;
  --post-body-sizes-small: 560px;
  --post-body-sizes-normal: 680px;
  --post-body-sizes-large: 800px;
}

pre, code {
  --font-family: 'Inconsolata', 'consolas', 'PingFang SC', 'Microsoft YaHei', 'monospace';
}

.site-title {
  --font-family: 'Lobster', 'Itim', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
}

@import "help";
