pre {
  font-family: var(--font-family);
  background: $code-background;
  padding: 0.5em;
  border-radius: $border-radius;
  overflow: auto;
}


code {
  font-family: var(--font-family);
  background: $code-background;
  border-radius: 0.1em
}
