.comments {
  margin: auto;
  margin-top: 12px;
  padding: $content-desktop-padding;
  background: white;
  border-radius: var(--radius);
  overflow: hidden;
}

.comment-button-group {
  margin: 1.2em 0 .6em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;

  .comment-button {
    margin: 0.1em 0.2em;
    border-radius: .5em;
    &.active {
      background: $btn-default-hover-bg;
      border-color: $btn-default-hover-border-color;
      color: $btn-default-hover-color;
    }
  }

}

.comment-position {
  display: none;
}
.comment-position.active {
  display: block;
}
