// CSS Style Guide: http://codeguide.co/#css

$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';


// Variables Layer
// --------------------------------------------------
@import "_variables/base";
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

@import url($font-family-import) if $font-family-import;

// Mixins Layer
// --------------------------------------------------
@import "_mixins/base";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;


// Common Layer
// --------------------------------------------------
@import "_common/base";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;
