.header {
  background: transparent;
  margin: 0 auto;
}

.header-inner {
  overflow: hidden;
  padding: 0;
  margin-top: 10px;
}

.main-header {
  display: none;
}

.main-header > .header-inner.card {
  position: relative;
  width: auto;
  border-radius: initial;
  margin-top: 0;
}

+tablet-mobile() {
  .main-header {
    display: block;
  }
}

@import "site-meta";
@import "site-nav";
@import "menu";
