<% if (page.prev || page.next) { %>
<nav class="pagination">
  <%- paginator({
        prev_text: icon('angle-left', {type: 'fa'}),
        next_text: icon('angle-right', {type: 'fa'}),
        mid_size: 1,
        escape: false
      }) -%>
</nav>
<% } %>
