<div class="brand">
  <div class="site-meta">
    <div class="custom-logo-site-title">
      <a href="<%= config.root %>">
        <span class="site-title"><%= title %></span>
      </a>
    </div>
    <% if (subtitle) { %>
    <p class="site-subtitle"><%= subtitle %></p>
    <% } %>
  </div>

  <div class="site-nav-toggle">
    <button>
      <%- icon('bars', {type: 'fa'}) -%>
    </button>
  </div>
</div>
