<%
let itemURL = value.split('||')[0].trim();
let menuText = __('menu.' + name);
if (menuText.indexOf('menu.') == 0) {
  menuText = titlecase(menuText.replace('menu.', ''));
}
let menuIcon = params => {
  let css = params.split('||')[1].trim() || 'fas fa-question-circle';
  let data = css.split(' ');
  return fa_inline(data[1].substring(3), {prefix: data[0]});
}
if (theme.menu_settings.icons) {
  menuText = menuIcon(value) + menuText;
}
%>
<li class="menu-item menu-item-<%= name.replace(/\s/g, '-') %>">
  <a href="<%= url_for(itemURL) %>"><%- menuText -%></a>
</li>
