<nav class="site-nav">
  <ul class="menu">

    <%
    if (theme.menu) {
      Object.keys(theme.menu).forEach(name => {
        let path = theme.menu[name];
    %>
    <%- partial( '_partials/header/menu-item.ejs', {name, value: path}) -%>
    <%
      });
    }
    %>

    <%- injector('menu').text() -%>

  </ul>
</nav>
