.feed-link, .chat {
  margin-top: 10px;
  border-top: 1px dotted $grey-light;
  border-bottom: 1px dotted $grey-light;
  text-align: center;

  a {
    show();
    padding: 0 15px;
    color: $orange;
    border: none !important;

    i {
      color: rgb(252, 100, 35);
      font-size: 14px;
    }

    &:hover {
      background: none;
      color: darken($orange, 20%);

      i { color: darken($orange, 20%); }
    }
  }
}
