.social-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    padding: 0 5px;
    border-bottom-color: $black-light;
    font-size: 1em;
    the-transition();
    &:hover {
      border-radius: 10%;
      background: $gainsboro;
    }
  }

  svg {
    vertical-align: -0.15em;
    margin: 0 1px;
  }
}
