// Sidebar Navigation

.sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}

.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: $sidebar-nav-color;

  &:hover { color: $sidebar-nav-hover-color; }
}

.sidebar-nav .sidebar-nav-active {
  color: $sidebar-highlight;
  border-bottom-color: $sidebar-highlight;

  &:hover { color: $sidebar-highlight; }
}

.sidebar-panel {
  display: none;
  //animation: opacity-hide .2s;
  animation-fill-mode: forwards;
}
.sidebar-panel-active {
  display: block;
  animation: opacity-show .2s;
  animation-fill-mode: forwards;
}

@keyframes opacity-show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

// @keyframes opacity-hide {
//   from {
//     display: block;
//     opacity: 1;
//   }
//   to {
//     display: none;
//     opacity: 0;
//   }
// }
