.links-of-author {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom-color: $black-light;
    font-size: 13px;
    if hexo-config('social_icons.transition') { the-transition(); }

    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      content: " ";
      width: 4px;
      height: 4px;
      circle();
      background: rgb(random-color(0, 255) - 50%, random-color(0, 255) - 50%, random-color(0, 255) - 50%);
    }
  }
}

.links-of-author-item {
  sidebar-inline-links-item();
  a:before { display: none; }
  a {
    border-bottom: none;
    text-decoration: underline;
  }

  a {
    show();
    text-decoration: none;

    &:hover {
      border-radius: 4px;
      background: $gainsboro;
    }
  }

  .fa {
    margin-right: 2px;
    font-size: 16px;
  }
  .fa-globe { font-size: 15px; }
}
