.sidebar {
  position: static;
  float: left;
  width: $sidebar-desktop;
  z-index: $zindex-4;
  background: $body-bg-color;
  margin-top: -100%;

  a {
    color: $black-light;
    border-bottom-color: $black-light;
    &:hover {
      color: $black-deep;
      border-bottom-color: $black-deep;
    }
  }

  +tablet-mobile() {
    hide();
  }
}

.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
  width: $sidebar-desktop;
  color: $text-color;
  background: white;
  border-radius: $border-radius;

  &.affix {
    position: fixed;
    top: $sidebar-offset;
  }

  &.affix-bottom {
    position: absolute;
  }
}

.site-overview-wrap {
  overflow: hidden;
}

.site-overview {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}

@import "sidebar-author";
@import "sidebar-author-links";
@import "sidebar-button";
@import "sidebar-blogroll";
@import "sidebar-nav";
@import "site-state" if hexo-config('site_state');
@import "sidebar-toc" if hexo-config('toc.enable');
