.sidebar {

  a {
    color: $black-light;
    border-bottom-color: $black-light;
    &:hover {
      color: $black-deep;
      border-bottom-color: $black-deep;
    }
  }

  +tablet-mobile() {
    hide();
  }
}

.sidebar-inner {
  position: sticky;
  position: -webkit-sticky;
  top: $sidebar-pin-top;
  margin-top: $sidebar-pin-top;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
  color: $text-color;
  background: white;
  border-radius: $border-radius;
}

.site-overview-wrap {
  overflow: hidden;
}

.site-overview {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}

@import "sidebar-author";
@import "sidebar-author-links";
@import "sidebar-button";
@import "sidebar-blogroll";
@import "sidebar-nav";
@import "site-state";
@import "sidebar-toc" if hexo-config('toc.enable');
