.links-of-blogroll {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  padding: 3px 0 0;
}

.links-of-blogroll-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: $font-weight-bold;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links-of-blogroll-item {
  padding: 0;

  a {
    max-width: 280px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.links-of-blogroll-inline {
  clearfix();

  .links-of-blogroll-item {
    sidebar-inline-links-item();
    display: inline-block;
    if !hexo-config('social_icons.icons_only') { width: unset; }
  }
}
