:root {
  --color: #6c7883;
  --link-color: #6c7883;
  --link-color-hover: #2b5278;
  --bg-color: #0e1621;
  --description-color: #505660;
  --border-color: #1d2b42;
  --selection-bg: #050505;
  --selection-color: #2b5278;
}

pre, code {
  --bg-color: #0e1621;
}

table {
  --row-odd-bg-color: #202b36;
  --row-hover-bg-color: #202b36;
}

.header-inner {
  --link-color: #6c7883;
  --link-color-hover: #2b5278;
}

.brand {
  --color: #8c98a3;
  --bg-color: #2b5278;
  --description-color: #6c7883;
}

.menu {
  --bg-color-hover: #202b36;
}

.sidebar-inner {
  --link-color: #6c7883;
  --link-color-hover: #2b5278;
}

.site-author-name {
  --color: #57b9d6;
}

.social-links {
  --bg-color: #202b36;
}

.card {
  --bg-color: #182533;
}

.post-menu {
  --link-color: #6c7883;
  --link-color-hover: #2b5278;
}

.post-title {
  --color: #6c7883;
}

.post-meta {
  --bg-color: #202b36;
  --color: #505660;
}

.post-copyright {
  --border-color: #ff1700;
  --bg-color: #202b36;
}

.pagination {
  --bg-color: #182533;
  --bg-color-active: #2b5278;
  --color-active: #6c7883;
}

.post-collapse {
  --link-color: #6c7883;
  --link-color-hover: #2b5278;
}

.btn {
  --bg-color: #fff;
  --border-color: #6c7883;
  --color-hover: #fff;
  --bg-color-hover: #222;
  --border-color-hover: #222;
}

.note {
  --border-color: #1d2b42;
}

.reward-box-card {
  --bg-color: #fff;
  --description-bg-color: #202b36;
  --shadow-color: #111;
}

.reward-group {
  --shadow-color: #eee;
  --color: #6c7883;
}

img {
  opacity: 0.75;
}
