img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

a.fancybox {
  text-decoration: none;
  border-bottom: 0;
}

.fancybox img {
  cursor: pointer;
  cursor: zoom-in;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.box {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid $gray-lighter;
}

.post-body .image-caption {
  text-align: center;
  font-size: $font-size-base;
  color: $grey-dark;
  font-weight: bold;
  line-height: 1;
}
